
/* GENERICS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, system-ui;
}

a{
    text-decoration: none;
    color: white;
    cursor: not-allowed;
}

button:hover{
    cursor: not-allowed
}

.web__wrapper{
    padding-top: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row__padding{
    display: flex;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.column{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text__purple{
    --tw-text-opacity: 1;
    color: rgba(100,21,255,var(--tw-text-opacity));
}

.no-cursor{
    text-decoration: none;
    color: white;
    cursor: not-allowed;
}

/* NAVBAR */

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
}

.nav__logo--anchor{
    display: flex;
    text-decoration: none;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.website__logo{
    width: 50px;
    height: 50px;
    padding-right: 12px;
}

.nav__link--list{
    display: flex;
    list-style-type: none;
}

.nav__link{
    padding-right: 44px;
    font-weight: 500;
}

.link{
    text-decoration: none;
    color: black;
}

.btn__menu{
    background-color: transparent;
    font-size: 20px;
    text-align: center;
    border: none;
    opacity: 0.5;
    filter: alpha(opacity=40);
    display: none;
}

.menu__backdrop{
    position: absolute;
    background-color: #242424;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
}

.menu--open .menu__backdrop{
    visibility: visible;
    opacity: 1;
}

.menu--open{
    max-height: 100vh;
    overflow-y: hidden;
}

.menu__links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list{
    padding: 32px 0;
    font-size: 40px;
}

.menu__link{
    color: white;
}

.btn__menu--close{
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: white;
}

/* ABOUT */
.about__para{
    font-weight: 700;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.about__left{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about__header{
    font-size: 3rem;
    line-height: 1.25;
    font-weight: 700;
}

.about__para{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.1rem;
}

.text__area{
    position: relative;
    max-width: 28rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    padding-right: 12rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    border-radius: 9999px;
    border-width: 2px;
    width: 100%;
    font-weight: 500;
    transition-duration: 300ms;
    font-size: 100%;
    line-height: 1.15;
}

.start__button{
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    width: 100%;
    max-width: 30%;
    --tw-bg-opacity: 1;
    background-color: rgba(100,21,255,var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(247,250,252,var(--tw-text-opacity));
    font-weight: 700;
    margin-right: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 9999px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: all 300ms ease;
    cursor: pointer;
    border: 0;
}

.start__button:hover{
    --tw-bg-opacity: 1;
    background-color: rgba(100,21,215,var(--tw-bg-opacity));
}

.customers__title{
    font-weight: 700;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.customer__img{
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.about__right{
    width: 60%;
}

.undraw__img{
    width: 100%;
}

.undraw__img--small{
    width: 0%;
}

/* FEATURES */
.features__info{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.features__header{
    font-size: 1.1rem;
    font-weight: 500;
}

.service__title{
    font-size: 3rem;
    padding: 24px 0;
}

.service__info{
    width: 45%;
    font-size: 1.1rem;
    font-weight: 700;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.services{
    display: flex;
    flex-wrap: wrap;
    padding-top: 5rem;
}

.service{
    display: flex;
    width: calc(100%/3);
    text-align: left;
    padding-bottom: 32px;
    align-items: center;
    justify-content: center;
}

.service__logo--wrapper{
    width: 100px;
    height: 100px;
}

.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    border: 0.5px solid #dedede;
    border-radius: 50%;
}

.service__logo{
    max-width: 100%;
}

.service__para{
    line-height: 1.5;
    width: 250px;
    font-size: 1.2rem;
    font-weight: 600;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

/* QUALITY */
.work__left{
    width: 50%;
    margin-right: 4rem;
}

.quality__title{
    font-size: 1.05rem;
}

.quality__subtitle{
    font-size: 2.5rem;
    padding-top: 24px;
    padding-bottom: 12px;
}

.quality__para{
    font-size: 1.1rem;
    font-weight: 700;
    opacity: 0.4;
    filter: alpha(opacity=40);
    padding-bottom: 1.5rem;
    line-height: 1.75;
}

.quality__btn{
    font-weight: 700;
    color: white;
    --tw-text-opacity: 1;
    background-color: rgba(100,21,255,var(--tw-text-opacity));
    border: none;
    border-radius: 9999px;
    padding-top: .8rem;
    padding-bottom: .8rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    transition: all 300ms ease;
}

.quality__btn:hover{
    --tw-bg-opacity: 1;
    background-color: rgba(100,21,215,var(--tw-bg-opacity));
}

.work__right{
    width: 50%;
}

.hero__img--wrapper{
    border: 1px solid #dedede;
}

.hero__img{
    width: 100%;
}

/* STEPS */
.steps__left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.steps__img{
    width: 100%;
}

.steps__right{
    width: 50%;
    margin-left: 3rem;
}

.split{
    display: flex;
    padding: 12px 0;
    width: 70%;
}

.left__step{
    padding-right: 1rem;
}  

.step__num{
    font-size: 2rem;
    opacity: 0.4;
    filter: alpha(opacity=40);
    padding-right: 4px;
}

.step__para{
    font-size: 1rem;
    font-weight: 700;
    opacity: 0.4;
    filter: alpha(opacity=40);
    line-height: 1.75;
}

/* VALUEs */
.values__left{
    width: 50%;
}

.values__subtitle{
    font-size: 2.5rem;
    padding: 12px 0;
}

.values__para{
    width: 80%;
    padding: 12px 0;
    font-size: 1rem;
    font-weight: 700;
    opacity: 0.4;
    filter: alpha(opacity=40);
    line-height: 1.75;
}

.inner{
    width: 100%;
    display: flex;
    padding-bottom: 2rem;
}

.inner__title{
    display: flex;
    padding: 24px 0;
}

.inner__para{
    width: 80%;
    font-size: 1rem;
    font-weight: 600;
    opacity: 0.4;
    filter: alpha(opacity=40);
    line-height: 1.75;
}

.values__right{
    width: 50%;
}

.values__img{
    width: 100%;
}

/* PRICING */
.wrap{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: calc(100%/3);
}

.grey__line{
    color: #dedede;
}

.pricing__para{
    font-size: 1rem;
    font-weight: 700;
    width: 40%;
    text-align: center;
    opacity: 0.4;
    filter: alpha(opacity=40);
    line-height: 1.75;
}

.plan1{
    width: 100%;
    padding-top: 2.5rem;
    padding-right: 2.5rem;
}

.price{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid #dedede;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    margin: 0 1rem;

}

.price__amount{
    font-size: 3rem;
}

.price1, .price3{
    color: black;
    background-color: white;
}

.price1{
    border-top: 0.5rem solid cyan;
}

.price2{
    color: white;
    background: blue;
    border-top: 0.5rem solid blue;
}

.price3{
    border-top: 0.5rem solid red;
}

.subscription__length1{
    font-size: 1rem;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.subscription__length2{
    font-size: 1rem;
}

.plan2{
    width: 100%;
    padding-top: 2.5rem;
    padding-right: 2.5rem;
}

.who__plans{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid #dedede;
    margin: 0 1rem;
}

.who__plans1, .who__plans3{
    color: black;
    background-color: white;
}

.who__plans2{
    color: white;
    background-color: blue;
}

.plans__title{
    font-size: 1.1rem;
}

.attributes{
    padding: .5rem 0;
    color: grey;
    font-weight: 400;
}

.white{
    color: white;
}

.plan3{
    width: 100%;
    padding-top: 2.5rem;
    padding-right: 2.5rem;
}

.buy{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #dedede;
    margin: 0 1rem;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

.buy2{
    background-color: blue;
}

.buy__btn1, .buy__btn3{
    color: white;
}

.buy__btn2{
    color: blue;
    background-color: white;
}

.buy__btn1{
    background-color: cyan;
}

.buy__btn3{
    background-color: red;
}

.buy__btn1, .buy__btn2, .buy__btn3{
    width: 100%;
}

/* TESTIMONIALS */
.testimonials__left{
    width: 55%;
}

.testimonial__img{
    width: 100%;
}

.testimonial__img--small{
    display: none;
}

.testimonials__right{
    width: 45%;
    margin-left: 3rem;
}

.testimonials__subtitle{
    font-size: 3rem;
}

.testimonials__para{
    line-height: 1.5;
    font-size: 1.1rem;
    font-weight: 600;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

/* FOOTER */
#footer{
    --tw-text-opacity: 1;
    background-color: rgba(100,21,255,var(--tw-text-opacity));
    padding: 0 1rem;
}

.footer__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100%/5);
    color: white;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.space{
    align-items: center;
    justify-content: space-around;
}

.footer__title{
    padding-bottom: 1rem;
}

.footer__links{
    list-style-type: none;
}

.footer__link{
    padding: 0.3rem 0;
    font-weight: 400;
}

.line{
    color: red;
}

.footer__logo--anchor{
    display: flex;
    text-decoration: none;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.footer__logo{
    width: 50px;
    height: 50px;
    padding-right: 12px;
}

.footer__copy{
    color: white;
}

.socials{
    display: flex;
    list-style-type: none;
}

.social:not(:last-child){
    margin-right: 0.5rem;
}

.circle__footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border: 0.5px solid #dedede;
    border-radius: 50%;
    background-color: white;
}

.black{
    color:black;
}

@media (max-width: 912px){
    /* GENERICS */
    *{
        padding: 0;
        margin: 0;
    }    
    
    .web__wrapper{
        width: 100%;
    }

    /* NAVBAR */
    .nav__link{
        display: none;
    }

    /* ABOUT */
    .about__header{
        font-size: 2rem;
    }

    .about__left{
        width: 100%;
        text-align: center;
    }

    .text__area{
        padding-right: 6rem;
        font-size: 16px;
    }

    .about__right{
        width: 0%;
    }

    .undraw__img{
        display: none;
    }

    .undraw__img--small{
        width: 100%;
        padding-bottom: 3rem;
    }

    .btn__menu{
        display: block;
    }

    .start__button{
        max-width: 28rem;
    }

    /* FEATURES */
    .service__title{
        font-size: 2.5rem;
    }

    .service__info{
        width: 80%;
        font-size: 14px;
    }

    .services{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .service{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .service__logo--wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* QUALITY WORK */
    .hero__img--wrapper-small{
        border: 1px solid #dedede;
    }

    .hero__img--small{
        width: 100%;
    }

    .hero__img--wrapper{
        display: none;
    }

    .hero__img{
        display: none;
    }

    .work__left{
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .work__right{
        width: 0%;
    }

    .quality__subtitle{
        font-size: 2rem;
    }

    .quality__para{
        font-size: 0.85rem;
    }

    /* STEPS */
    .steps__img--small{
        width: 100%;
    }

    .steps__img{
        display: none;
    }

    .steps__left{
        width: 0%;
        padding: 0;
        margin: 0;
    }

    .steps__right{
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .split{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .left__step{
        padding: 1rem 0;
        margin: 0;
    }

    /* VALUES */
    .values__img--small{
        width: 100%;
    }
    
    .values__img{
        display: none;
    }

    .values__left{
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .values__subtitle{
        font-size: 2.1rem;
    }

    .values__para{
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .values__right{
        width: 0%;
        padding: 0;
        margin: 0;
    }

    .inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .inner__left{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .inner__right{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;

    }

    /* PRICING */
    .values__subtitle{
        text-align: center;
    }

    .pricing__para{
        width: 100%;
        font-size: 0.85rem;
    }

    .price, .who__plans, .buy{
        width: 100%;
    }

    .wrap{
        flex-wrap: wrap;
        width: 100%;
    }

    .plan1, .plan2, .plan3{
        width: 80%;
    }

    /* TESTIMONIALS */
    .testimonial__img--small{
        width: 100%;
    }

    .testimonial__img{
        display: none;
    }

    .testimonials__left{
        width: 0%;
    }

    .testimonials__right{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .middle{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    .testimonials__title{
        font-size: 1.2rem;
    }

    .testimonials__subtitle{
        font-size: 2rem;
        width: 100%;
        padding: 1rem 0;
    }

    /* FOOTER */
    .foot__wrap{
        width: 100%;
        flex-wrap: wrap;
    }

    .footer__section{
        width: calc(100%/3);
        color: white;
    }

    .footer__title{
        padding-top: 2rem;
    }

    .space{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer__logo--anchor{
        padding: 0;
    }

    .footer__copy{
        padding: 1.5rem 0;
    }
}